# Gecco Challenge - Clean and EDA

# Import Libraries

In [1]:
import pandas as pd

## Loading the data

In [2]:
data_raw_path = "../data/raw/waterDataTraining.csv"

# Load the dataset
df = pd.read_csv(data_raw_path)

## Data Inspection

### Basic DIs

In [3]:
df.head()

,Time,Tp,Cl,pH,Redox,Leit,Trueb,Cl_2,Fm,Fm_2,EVENT
0,2016-08-03T09:49:00Z,6.5,0.17,8.36,749.0,211.0,0.011,0.118,1677.0,695.0,False
1,2016-08-03T09:50:00Z,6.5,0.17,8.36,749.0,211.0,0.011,0.118,1561.0,696.0,False
2,2016-08-03T09:51:00Z,6.5,0.17,8.35,749.0,211.0,0.011,0.117,1581.0,696.0,False
3,2016-08-03T09:52:00Z,6.5,0.17,8.35,749.0,211.0,0.011,0.118,1579.0,693.0,False
4,2016-08-03T09:53:00Z,6.5,0.17,8.35,749.0,211.0,0.011,0.118,1567.0,689.0,False

In [4]:
df.tail()

,Time,Tp,Cl,pH,Redox,Leit,Trueb,Cl_2,Fm,Fm_2,EVENT
139561,2016-11-08T07:50:00Z,10.1,0.16,8.41,762.0,189.0,0.023,0.105,1799.0,924.0,False
139562,2016-11-08T07:51:00Z,10.1,0.17,8.41,762.0,190.0,0.022,0.106,1835.0,927.0,False
139563,2016-11-08T07:52:00Z,10.1,0.17,8.41,762.0,190.0,0.022,0.106,1807.0,924.0,False
139564,2016-11-08T07:53:00Z,10.1,0.17,8.41,762.0,190.0,0.022,0.106,1799.0,930.0,False
139565,2016-11-08T07:54:00Z,10.1,0.17,8.41,762.0,189.0,0.022,0.106,1817.0,925.0,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139566 entries, 0 to 139565
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    139566 non-null  object
 1   Tp      138522 non-null  float64
 2   Cl      138521 non-null  float64
 3   pH      138522 non-null  float64
 4   Redox   138522 non-null  float64
 5   Leit    138522 non-null  float64
 6   Trueb   138522 non-null  float64
 7   Cl_2    138522 non-null  float64
 8   Fm      138522 non-null  float64
 9   Fm_2    138522 non-null  float64
 10  EVENT   139566 non-null  bool
dtypes: bool(1), float64(9), object(1)
memory usage: 10.8+ MB

#### Summary statistics for numeric columns

In [6]:
df.describe()

,Tp,Cl,pH,Redox,Leit,Trueb,Cl_2,Fm,Fm_2
count,138522.000000,138521.000000,138522.000000,138522.000000,138522.000000,138522.000000,138522.000000,138522.000000,138522.000000
mean,8.521406,0.165482,8.366416,752.899009,209.520998,0.019778,0.106099,1534.208891,927.728014
std,1.281314,0.010207,0.101624,12.945284,7.747497,0.005492,0.007132,208.171011,147.447430
min,0.000000,0.000000,4.000000,300.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.500000,0.160000,8.340000,751.000000,209.000000,0.016000,0.103000,1388.000000,847.000000
50%,8.400000,0.170000,8.370000,754.000000,211.000000,0.018000,0.106000,1512.000000,925.000000
75%,9.500000,0.170000,8.390000,756.000000,211.000000,0.023000,0.110000,1650.000000,1000.000000
max,11.800000,0.800000,8.936228,895.000000,646.000000,0.254000,0.462000,3923.000000,2592.000000

In [7]:
df.shape

(139566, 11)

In [12]:
df.columns

Index(['Time', 'Tp', 'Cl', 'pH', 'Redox', 'Leit', 'Trueb', 'Cl_2', 'Fm',
       'Fm_2', 'EVENT'],
      dtype='object')

In [13]:
df.dtypes

Time      object
Tp       float64
Cl       float64
pH       float64
Redox    float64
Leit     float64
Trueb    float64
Cl_2     float64
Fm       float64
Fm_2     float64
EVENT       bool
dtype: object

#### Checking for Missing Values

In [14]:
df.isnull().sum()

Time        0
Tp       1044
Cl       1045
pH       1044
Redox    1044
Leit     1044
Trueb    1044
Cl_2     1044
Fm       1044
Fm_2     1044
EVENT       0
dtype: int64

#### Plotting Basic Graphs